/* Estilo del título */
h1 {
  font-size: 2.5em;
  color: #FFDD00;
  text-shadow: 2px 2px black;
  margin-bottom: 15px;
  text-align: center;
}

/* ID del héroe */
p {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Botones de navegación */
a[routerLink] {
  padding: 8px 10px;
  border-bottom: 2px solid #FFDD00;
  background: #0075A9;
  border-radius: 6px;
  margin: 8px auto;
  width: 280px;
  display: block; /* hace que se vean uno debajo del otro */
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}

/* Sin cambios al pasar el ratón */
a[routerLink]:hover {
  background: #0075A9;
  text-decoration: none;
}
